{
  "openapi": "3.0.2",
  "info": {
    "title": "CapabilityStatement du serveur de prod ROR 3.2",
    "license": {
      "name": "Creative Commons Zero v1.0 Universal",
      "url": "http://spdx.org/licenses/CC0-1.0.html"
    },
    "version": "0.4.0-snapshot-2",
    "contact": {
      "name": "ANS",
      "url": "https://esante.gouv.fr"
    }
  },
  "servers": [
    {
      "url": "https://api.ror.esante.gouv.fr/ws-diffusion-fhir",
      "description": "HAPI FHIR"
    }
  ],
  "externalDocs": {
    "url": "https://interop.esante.gouv.fr/ig/fhir/ror/CapabilityStatement/ror-serveur-prod",
    "description": "FHIR CapabilityStatement"
  },
  "paths": {
    "/metadata": {
      "summary": "Access to the Server\u0027s Capability Statement",
      "description": "All FHIR Servers return a CapabilityStatement that describes what services they perform",
      "get": {
        "summary": "Return the server\u0027s capability statement",
        "operationId": "metadata",
        "responses": {
          "default": {
            "description": "Error, with details",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/OperationOutcome.xsd"
                }
              }
            }
          },
          "200": {
            "description": "the capbility statement",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/CapabilityStatement"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/CapabilityStatement.xsd"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "$ref": "#/components/parameters/summary"
          },
          {
            "$ref": "#/components/parameters/elements"
          }
        ]
      }
    },
    "/HealthcareService": {
      "summary": "manage the collection of resources of type HealthcareService",
      "description": "Access to services to manage the collection of all resources of type HealthcareService",
      "get": {
        "summary": "Search all resources of type HealthcareService based on a set of criteria",
        "operationId": "searchHealthcareService",
        "responses": {
          "default": {
            "description": "Error, with details",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/OperationOutcome.xsd"
                }
              }
            }
          },
          "200": {
            "description": "the resource being returned",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/Bundle"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/Bundle.xsd"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "$ref": "#/components/parameters/summary"
          },
          {
            "$ref": "#/components/parameters/elements"
          },
          {
            "name": "_filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "description": "The ID of the resource",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_include",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_include:iterate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_lastUpdated",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
            }
          },
          {
            "name": "_revinclude",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_revinclude:iterate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_tag",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "age-range-high",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "age-range-low",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "characteristic",
            "in": "query",
            "description": "One of the HealthcareService\u0027s characteristics",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "External identifiers for this item",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "intervention-zone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location._id",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location._lastUpdated",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {
              "type": "string",
              "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
            }
          },
          {
            "name": "location._tag",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location.additional-bed-type",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location.address-city",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location.address-postalcode",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location.capacity-closing-type",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location.capacity-status",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location.capacity-type",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location.capacity-update-date",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {
              "type": "string",
              "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
            }
          },
          {
            "name": "location.commune-cog",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location.crisis-type",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location.equipment-feature",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location.equipment-type",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location.gender-capacity-available",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location.identifier",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location.identifier:of-type",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location.limit-value",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location.nb-capacity",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "location.near",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {}
          },
          {
            "name": "location.near-insee-code",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {}
          },
          {
            "name": "location.residential-number",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "location.residential-type",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location.status",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location.temporality-capacity",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location.temporary-assignement",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location.type",
            "in": "query",
            "description": "The location of the Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "A portion of the Healthcare service name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "notavailable-closing-reopeningdate",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
            }
          },
          {
            "name": "organization._id:above",
            "in": "query",
            "description": "The organization that provides this Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization._lastUpdated:above",
            "in": "query",
            "description": "The organization that provides this Healthcare Service",
            "schema": {
              "type": "string",
              "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
            }
          },
          {
            "name": "organization._tag:above",
            "in": "query",
            "description": "The organization that provides this Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization.closing-type:above",
            "in": "query",
            "description": "The organization that provides this Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization.drop-zone:above",
            "in": "query",
            "description": "The organization that provides this Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization.identifier:above",
            "in": "query",
            "description": "The organization that provides this Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization.name:above",
            "in": "query",
            "description": "The organization that provides this Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization.price-amount-value:above",
            "in": "query",
            "description": "The organization that provides this Healthcare Service",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "organization.price-dependency-level:above",
            "in": "query",
            "description": "The organization that provides this Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization.price-residential-type:above",
            "in": "query",
            "description": "The organization that provides this Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization.price-type:above",
            "in": "query",
            "description": "The organization that provides this Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization.price-unit:above",
            "in": "query",
            "description": "The organization that provides this Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization.price-validity-start-date:above",
            "in": "query",
            "description": "The organization that provides this Healthcare Service",
            "schema": {
              "type": "string",
              "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
            }
          },
          {
            "name": "organization.price-welcome-type:above",
            "in": "query",
            "description": "The organization that provides this Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization.special-price:above",
            "in": "query",
            "description": "The organization that provides this Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization.type:above",
            "in": "query",
            "description": "The organization that provides this Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient-type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "practitioner.identifier",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "psychiatric-sector",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service-category",
            "in": "query",
            "description": "Service Category of the Healthcare Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service-type",
            "in": "query",
            "description": "The type of service provided by this healthcare service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "specialty",
            "in": "query",
            "description": "The specialty of the service provided by this healthcare service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "specific-competence",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/HealthcareService/{rid}": {
      "summary": "Read/Write/etc resource instance of type HealthcareService",
      "description": "Access to services to manage the state of a single resource of type HealthcareService",
      "get": {
        "summary": "Read the current state of the resource",
        "operationId": "readHealthcareService",
        "responses": {
          "default": {
            "description": "Error, with details",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/OperationOutcome.xsd"
                }
              }
            }
          },
          "200": {
            "description": "the resource being returned",
            "headers": {
              "ETag": {
                "description": "Version from Resource.meta.version as a weak ETag",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/HealthcareService"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/HealthcareService.xsd"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/rid"
          },
          {
            "$ref": "#/components/parameters/summary"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "$ref": "#/components/parameters/elements"
          }
        ]
      }
    },
    "/Location": {
      "summary": "manage the collection of resources of type Location",
      "description": "Access to services to manage the collection of all resources of type Location",
      "get": {
        "summary": "Search all resources of type Location based on a set of criteria",
        "operationId": "searchLocation",
        "responses": {
          "default": {
            "description": "Error, with details",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/OperationOutcome.xsd"
                }
              }
            }
          },
          "200": {
            "description": "the resource being returned",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/Bundle"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/Bundle.xsd"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "$ref": "#/components/parameters/summary"
          },
          {
            "$ref": "#/components/parameters/elements"
          },
          {
            "name": "_filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_has",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "description": "The ID of the resource",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_lastUpdated",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
            }
          },
          {
            "name": "_revinclude",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_tag",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "additional-bed-type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address-city",
            "in": "query",
            "description": "A city specified in an address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address-postalcode",
            "in": "query",
            "description": "A postal code specified in an address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "capacity-closing-type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "capacity-status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "capacity-type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "capacity-update-date",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
            }
          },
          {
            "name": "commune-cog",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "crisis-type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "equipment-feature",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "equipment-type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gender-capacity-available",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "An identifier for the location",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit-value",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nb-capacity",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "near",
            "in": "query",
            "description": "Search for locations where the location.position is near to, or within a specified distance of, the provided coordinates expressed as [latitude]|[longitude]|[distance]|[units] (using the WGS84 datum, see notes).\nIf the units are omitted, then kms should be assumed. If the distance is omitted, then the server can use its own discretion as to what distances should be considered near (and units are irrelevant)\n\nServers may search using various techniques that might have differing accuracies, depending on implementation efficiency.\n\nRequires the near-distance parameter to be provided also",
            "schema": {}
          },
          {
            "name": "near-insee-code",
            "in": "query",
            "schema": {}
          },
          {
            "name": "residential-number",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "residential-type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Searches for locations with a specific kind of status",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "temporality-capacity",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "temporary-assignement",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "A code for the type of location",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/Location/{rid}": {
      "summary": "Read/Write/etc resource instance of type Location",
      "description": "Access to services to manage the state of a single resource of type Location",
      "get": {
        "summary": "Read the current state of the resource",
        "operationId": "readLocation",
        "responses": {
          "default": {
            "description": "Error, with details",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/OperationOutcome.xsd"
                }
              }
            }
          },
          "200": {
            "description": "the resource being returned",
            "headers": {
              "ETag": {
                "description": "Version from Resource.meta.version as a weak ETag",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/Location"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/Location.xsd"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/rid"
          },
          {
            "$ref": "#/components/parameters/summary"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "$ref": "#/components/parameters/elements"
          }
        ]
      }
    },
    "/OperationDefinition/{rid}": {
      "summary": "Read/Write/etc resource instance of type OperationDefinition",
      "description": "Access to services to manage the state of a single resource of type OperationDefinition",
      "get": {
        "summary": "Read the current state of the resource",
        "operationId": "readOperationDefinition",
        "responses": {
          "default": {
            "description": "Error, with details",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/OperationOutcome.xsd"
                }
              }
            }
          },
          "200": {
            "description": "the resource being returned",
            "headers": {
              "ETag": {
                "description": "Version from Resource.meta.version as a weak ETag",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/OperationDefinition"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/OperationDefinition.xsd"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/rid"
          },
          {
            "$ref": "#/components/parameters/summary"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "$ref": "#/components/parameters/elements"
          }
        ]
      }
    },
    "/Organization": {
      "summary": "manage the collection of resources of type Organization",
      "description": "Access to services to manage the collection of all resources of type Organization",
      "get": {
        "summary": "Search all resources of type Organization based on a set of criteria",
        "operationId": "searchOrganization",
        "responses": {
          "default": {
            "description": "Error, with details",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/OperationOutcome.xsd"
                }
              }
            }
          },
          "200": {
            "description": "the resource being returned",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/Bundle"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/Bundle.xsd"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "$ref": "#/components/parameters/summary"
          },
          {
            "$ref": "#/components/parameters/elements"
          },
          {
            "name": "_content",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "description": "The ID of the resource",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_lastUpdated",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
            }
          },
          {
            "name": "_tag",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "closing-type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "drop-zone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extension.typeActivity",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "Any identifier for the organization (not the accreditation issuer\u0027s identifier)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "A portion of the organization\u0027s name or alias",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period-end",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
            }
          },
          {
            "name": "price-amount-value",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price-dependency-level",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "price-residential-type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "price-type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "price-unit",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "price-validity-start-date",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
            }
          },
          {
            "name": "price-welcome-type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "special-price",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/Organization/{rid}": {
      "summary": "Read/Write/etc resource instance of type Organization",
      "description": "Access to services to manage the state of a single resource of type Organization",
      "get": {
        "summary": "Read the current state of the resource",
        "operationId": "readOrganization",
        "responses": {
          "default": {
            "description": "Error, with details",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/OperationOutcome.xsd"
                }
              }
            }
          },
          "200": {
            "description": "the resource being returned",
            "headers": {
              "ETag": {
                "description": "Version from Resource.meta.version as a weak ETag",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/Organization"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/Organization.xsd"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/rid"
          },
          {
            "$ref": "#/components/parameters/summary"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "$ref": "#/components/parameters/elements"
          }
        ]
      }
    },
    "/Practitioner": {
      "summary": "manage the collection of resources of type Practitioner",
      "description": "Access to services to manage the collection of all resources of type Practitioner",
      "get": {
        "summary": "Search all resources of type Practitioner based on a set of criteria",
        "operationId": "searchPractitioner",
        "responses": {
          "default": {
            "description": "Error, with details",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/OperationOutcome.xsd"
                }
              }
            }
          },
          "200": {
            "description": "the resource being returned",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/Bundle"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/Bundle.xsd"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "$ref": "#/components/parameters/summary"
          },
          {
            "$ref": "#/components/parameters/elements"
          },
          {
            "name": "_id",
            "in": "query",
            "description": "The ID of the resource",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_lastUpdated",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
            }
          },
          {
            "name": "_tag",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/Practitioner/{rid}": {
      "summary": "Read/Write/etc resource instance of type Practitioner",
      "description": "Access to services to manage the state of a single resource of type Practitioner",
      "get": {
        "summary": "Read the current state of the resource",
        "operationId": "readPractitioner",
        "responses": {
          "default": {
            "description": "Error, with details",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/OperationOutcome.xsd"
                }
              }
            }
          },
          "200": {
            "description": "the resource being returned",
            "headers": {
              "ETag": {
                "description": "Version from Resource.meta.version as a weak ETag",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/Practitioner"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/Practitioner.xsd"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/rid"
          },
          {
            "$ref": "#/components/parameters/summary"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "$ref": "#/components/parameters/elements"
          }
        ]
      }
    },
    "/PractitionerRole": {
      "summary": "manage the collection of resources of type PractitionerRole",
      "description": "Access to services to manage the collection of all resources of type PractitionerRole",
      "get": {
        "summary": "Search all resources of type PractitionerRole based on a set of criteria",
        "operationId": "searchPractitionerRole",
        "responses": {
          "default": {
            "description": "Error, with details",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/OperationOutcome.xsd"
                }
              }
            }
          },
          "200": {
            "description": "the resource being returned",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/Bundle"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/Bundle.xsd"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "$ref": "#/components/parameters/summary"
          },
          {
            "$ref": "#/components/parameters/elements"
          },
          {
            "name": "_id",
            "in": "query",
            "description": "The ID of the resource",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_lastUpdated",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
            }
          },
          {
            "name": "_tag",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/PractitionerRole/{rid}": {
      "summary": "Read/Write/etc resource instance of type PractitionerRole",
      "description": "Access to services to manage the state of a single resource of type PractitionerRole",
      "get": {
        "summary": "Read the current state of the resource",
        "operationId": "readPractitionerRole",
        "responses": {
          "default": {
            "description": "Error, with details",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/OperationOutcome.xsd"
                }
              }
            }
          },
          "200": {
            "description": "the resource being returned",
            "headers": {
              "ETag": {
                "description": "Version from Resource.meta.version as a weak ETag",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/PractitionerRole"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/PractitionerRole.xsd"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/rid"
          },
          {
            "$ref": "#/components/parameters/summary"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "$ref": "#/components/parameters/elements"
          }
        ]
      }
    }
  },
  "components": {
    "parameters": {
      "rid": {
        "name": "rid",
        "in": "path",
        "description": "id of the resource (\u003dResource.id)",
        "required": true,
        "allowEmptyValue": false,
        "style": "simple",
        "schema": {
          "type": "string"
        }
      },
      "hid": {
        "name": "hid",
        "in": "path",
        "description": "id of the history entry (\u003dResource.meta.versionId)",
        "required": true,
        "allowEmptyValue": false,
        "style": "simple",
        "schema": {
          "type": "string"
        }
      },
      "summary": {
        "name": "_summary",
        "in": "query",
        "description": "Requests the server to return a designated subset of the resource",
        "allowEmptyValue": true,
        "style": "form",
        "schema": {
          "type": "string",
          "enum": [
            "true",
            "text",
            "data",
            "count",
            "false"
          ]
        }
      },
      "format": {
        "name": "_format",
        "in": "query",
        "description": "Specify alternative response formats by their MIME-types (when a client is unable acccess accept: header)",
        "allowEmptyValue": true,
        "style": "form",
        "schema": {
          "type": "string",
          "format": "mime-type"
        }
      },
      "pretty": {
        "name": "_pretty",
        "in": "query",
        "description": "Ask for a pretty printed response for human convenience",
        "allowEmptyValue": true,
        "style": "form",
        "schema": {
          "type": "boolean"
        }
      },
      "elements": {
        "name": "_elements",
        "in": "query",
        "description": "Requests the server to return a collection of elements from the resource",
        "allowEmptyValue": true,
        "style": "form",
        "explode": false,
        "schema": {
          "type": "array",
          "format": "string",
          "items": {
            "format": "string"
          }
        }
      },
      "count": {
        "name": "_count",
        "in": "query",
        "description": "The maximum number of search results on a page. The server is not bound to return the number requested, but cannot return more",
        "schema": {
          "type": "number"
        }
      }
    }
  }
}